:host .modal-card {
	max-width: 400px;
}

$previewSize: 80px;
.avatar-preview {
	width: $previewSize;
	height: $previewSize;
	min-width: $previewSize;
	min-height: $previewSize;

	img {
		object-fit: contain;
	}
}
